@model DatabaseMapperUsageSampleViewModel

@if (Model.Data == null || !Model.Data.Any())
{
    <div class="alert alert-info">データなし</div>
}
else
{
    <h4>前付け名 (MapperUsage...)</h4>
    <div class="table-responsive mb-4">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ユーザーID</th>
                    <th>文字列データ</th>
                    <th>数値データ</th>
                    <th>BoolData</th>
                    <th>EnumData</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Data)
                {
                    <tr>
                        <td>@row.ApplicationUserId</td>
                        <td>@row.MapperUsageStringData</td>
                        <td>@row.MapperUsageIntData</td>
                        <td>@(row.MapperUsageBoolData ? "あり" : "無し")</td>
                        <td>@row.MapperUsageEnumData</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h4>後付け名 (...WithMapper)</h4>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>文字列データ</th>
                    <th>数値データ</th>
                    <th>BoolData</th>
                    <th>EnumData</th>
                    <th>最終更新者</th>
                    <th>最終更新日時</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Data)
                {
                    <tr>
                        <td>@row.StringDataWithMapper</td>
                        <td>@row.IntDataWithMapper</td>
                        <td>@(row.BoolDataWithMapper ? "あり" : "無し")</td>
                        <td>@row.EnumDataWithMapper</td>
                        <td>@row.LastUpdatedBy</td>
                        <td>@row.LastUpdated?.ToString("yyyy/MM/dd HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
